<!-- wp:template-part {"slug":"header","theme":"kaddora-organic-block-theme"} /-->

<!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:query-title {"type":"search","align":"wide"} /-->

<!-- wp:query {"queryId":29,"query":{"inherit":true,"perPage":10}} -->
<div class="wp-block-query"><!-- wp:group {"layout":{"type":"grid","minimumColumnWidth":"12rem","columnCount":null}} -->
<div class="wp-block-group"><!-- wp:post-template {"layout":{"type":"default"}} -->
<!-- wp:group {"className":"product-card","layout":{"type":"constrained"}} -->
<!-- Product image -->
      
<!-- wp:post-featured-image {"isLink":true} /-->
      
      
<!-- wp:post-title {"isLink":true,"fontSize":"medium"} /-->
      
      
<!-- wp:woocommerce/product-price /-->
      
      
<!-- wp:woocommerce/product-button /-->
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"align":"wide"} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:group --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"kaddora-organic-block-theme"} /-->