<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">

	<!-- Post Title -->
	<!-- wp:post-title {"level":1,"align":"wide"} /-->

	<!-- Featured Image -->
	<!-- wp:post-featured-image {"align":"wide"} /-->

	<!-- Post Meta -->
	<!-- wp:group {"style":{"spacing":{"blockGap":"20px"}},"layout":{"type":"flex","flexWrap":"wrap"}} -->
	<div class="wp-block-group">
		<!-- wp:post-date /-->
		<!-- wp:post-author {"showAvatar":true,"isLink":true} /-->
		<!-- wp:post-terms {"term":"category"} /-->
		<!-- wp:post-terms {"term":"post_tag"} /-->
	</div>
	<!-- /wp:group -->

	<!-- Post Content -->
	<!-- wp:post-content {"align":"wide"} /-->

	<!-- Post Navigation -->
	<!-- wp:group {"align":"wide","layout":{"type":"flex","justifyContent":"space-between"}} -->
	<div class="wp-block-group alignwide">
		<!-- wp:post-navigation-link {"type":"previous"} /-->
		<!-- wp:post-navigation-link {"type":"next"} /-->
	</div>
	<!-- /wp:group -->

	<!-- Comments -->
	<!-- wp:comments {"align":"wide"} -->
		<!-- wp:comments-title /-->
		<!-- wp:comment-template -->
			<!-- wp:comment-author-name /-->
			<!-- wp:comment-date /-->
			<!-- wp:comment-content /-->
			<!-- wp:comment-reply-link /-->
		<!-- /wp:comment-template -->
		<!-- wp:comments-pagination /-->
		<!-- wp:comment-form /-->
	<!-- /wp:comments -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
